<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="{% if include.active == 'home' %}active{% endif %}"><a href="/">Home</a></li>
    <li class="{% if include.active == 'about' %}active{% endif %}"><a href="/about" class="smooth">About Me</a></li>
  </ul>
  
  <h3 class="text-muted">
    <a href="/" style="color: gray;">
      <img src="http://graph.facebook.com/13900152/picture/" height="50" width="50" class="img-circle"></img>
      David E. H. Peterson
    </a>
  </h3>
</div>
