---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About Me - David E. H. Peterson</title>
    {% include head.html %}
  </head>
  <body>
    <div class="container">
      {% include header.html active="about"%}

      <div class="row marketing">
        <div class="col-lg-6">
          <h2 id="about">Personal</h2>
          <h4>Location</h4>
          <p>
            I currently reside in the <a href="http://en.wikipedia.org/wiki/Nokomis,_Minneapolis">Nokomis</a> Neighborhood of <a href="http://en.wikipedia.org/wiki/Minneapolis">Minneapolis, Minnesota</a>.
          </p>     

          <h4>Family</h4>
          <p>
            I have been married for over four years to my wife, Megan. We have a son and a dog.
          </p>

          <h4>Bicycling</h4>
          <p>
            I try to commute by bicycle to work, including as often as possible in the winter months. I also ride trails for leisure as well as off-road mountain biking at nearby trail systems such as Lebanon, <a href="http://www.dnr.state.mn.us/state_trails/cuyuna_lakes/mtnbiking.html">Cuyuna</a> and <a href="http://www.co.clark.wi.us/index.aspx?NID=228">Levis Mound</a>.
          </p>

          <h4>Travel</h4>
          <p>
            Thanks to my brother, I spent a living and working in Yeosu, South Korea. I have been bit with the travel bug ever since, and hope to spend another part of my life living abroad in the future. In the mean time, I try to travel as much as possible, most recently to Ireland.
          </p>

          <h4>Sports</h4>
          <p>
            I am a die-hard <a href="http://www.gophersports.com/">University of Minnesota</a> Gopher basketball, football and hockey fan (in that order) and cheer for all Minnesota sports teams. I am also legally a Green Bay Packer fan by marriage. I also work a Sports based software company, but spend little of my work time on the sports domain.
          </p>
        </div>

        <div class="col-lg-6">
          <h2>Professional</h2>
          <h4>Education</h4>
          <p>
            I received my Bachelors of Science in Computer Science, with emphasis in Software Engineering, from the <a href="http://www.cs.umn.edu/index.php">College of Science and Engineering</a> at the University of Minnesota, Twin Cities.
          </p>

          <h4>Career</h4>
          <p>
            I am a Software Engineer at <a href="http://sportngin.com">Sport Ngin</a> in Minneapolis. I primarly use <a href="http://rubyonrails.org/">Ruby on Rails</a> and Angular for development. Sport Ngin has lots of <a href="https://github.com/sportngin">cool open source projects</a> which are worth checking out.</p>

            <p>
              In addition to my responsibilities at the Sport Ngin, I do occasional freelance Ruby on Rails development projects. I have also done data modeling and reporting with Oracle Business Intelligence and Tableau.
            </p>

          <h4>Resumé</h4>
          <p>
            For a full professional resume, please email me. My <a href="https://www.linkedin.com/pub/david-peterson/32/538/120">LinkedIn profile</a> works well as a substitute. You may also take a look at my <a href="https://github.com/pete2786">Github profile</a> or the projects listed on this site.</p>
        </div>
      </div>

      <h2 id="projects">Featured Projects</h2>
      <div class="media">
        <a class="pull-right" href="http://coeventer.com">
          <img class="media-object" src="/images/coeventer.png" width="200px" alt="Campus Codefest">
        </a>
        <div class="media-body">
          <h4 class="media-heading">CoEventer <small>Personal/Open Source. Released summer 2014</small></h4>
          <p>
            CoEventer is a collaborative, idea driven event planning tool. Unconferences, hackathons and other events with community driven agendas require some upfront work. CoEventer helps you from start to finish. I originally developed this app to help with the University of Minnesota Campus Codefest event. It has recently been adopted by [Open Twin Cities](http://www.opentwincities.org/) to help run future hackathons.
          </p>
        </div>
      </div>

      <div class="media">
        <a class="pull-right" href="http://www.sportngin.com/team/">
          <img class="media-object" src="/images/team-device-web.png" width="200px" alt="Campus Codefest">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Team Management <small>Sport Ngin. Released fall 2015</small></h4>
          <p>
            The (Team Management)[http://www.sportngin.com/team/] was a major initiative for my team during 2015. I primarily developed the API but also contributed front end work on the project.
          </p>
        </div>
      </div>

      <div class="media">
        <a class="pull-right" href="http://www.fleaquest.com">
          <img class="media-object" src="http://fleaquest.com/assets/logo-fleaquest.svg" width="200" height="40" alt="FleaQuest" class="vector">
        </a>
        <div class="media-body">
          <h4 class="media-heading">FleaQuest <small>Contract. Released fall 2013</small></h4>
          <p><a href="http://www.fleaquest.com">FleaQuest</a> is a welcoming community where all may contribute by adding listings and sharing knowledge to grow the site for the greater good of the vintage and antiques community. Developed in Ruby on Rails. I was the primary developer on this project.</p>
        </div>
      </div>

      <h2 id="contact">Contact</h2>
      <p>If you have any questions or comments please contact me via <a href="mailto: eazydp+io@gmail.com">email</a>.</p>

      <div class="footer">
        <p>&copy; David E. H. Peterson 2014</p>
      </div>
    </div>
    {% include foot.html %}
  </body>
</html>
